@charset "UTF-8";

html {
    font-size: 100%;
}
img {
    max-width: 100%;
}
body {
    color: #383e45;
    font-size: 0.9rem;
  }
li {
    list-style: none
}
a {
    text-decoration: none;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;
  }

  .section-title {
    font-size: 2rem;
    border-bottom: 1px solid black;
    margin-bottom: 70px;
    display: inline-block;
  }

  .content-title {
    margin-bottom: 10px;
  }
/* header */

.site-title {
    width: 120px;
    line-height: 1px;
    padding: 10px 0;
  }
  .site-title a {
    display: block;
  }

  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  #header ul {
    display: flex;
    padding: 10px 0;
  }
  #header li {
    margin-left: 30px;
  }
  #header li a {
    color: #24292e;
  }
  #header li a:hover {
    opacity: 0.7;
  }
  /* main-visual */
  #main-visual img {
    width: 100%;
   height: 600px;
   object-fit: cover;
   margin-bottom: 80PX;
  }

  /* about */

  .content {
    display: flex;
    justify-content: center;
  }
  .content img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 30px;
  }
  .content .text {
    text-align: left;
  }
  .text h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  }

  /* bicycle */
  .index ul {
    display: flex;
    justify-content: space-between;
  }
  .index li {
    width: 32%;
  }

  /* footer */
  #footer {
    margin-bottom: 10px;
  }
  #footer  p {
    font-size: 0.5rem;
    text-align: center;
  }

  @media screen and (max-width: 600px) {

    #main-visual img {
      height: calc(100vh - 60px);
    }

    .content {
      flex-direction: column;
      align-items: center;
    }
    .content img {
      margin-bottom: 10px;
      margin-left: 20px;
    }
    .index ul {
      flex-direction: column;
      align-items: center;
    }
    .index li {
      width: 100%;
      font-size: 0.9rem;
      margin-bottom: 30px;
    }
    .photo {
      margin-bottom: 10px;
    }
  }